
/* .regbtn{

    background-color: rgb(244, 245, 249);
    border: 2px solid rgb(92, 92, 230);
    padding: 7px;
    border-radius: 17px;
}
.regbtn:hover{
    color:white;
    background-color: rgb(90, 90, 238);
    
 
}
.regbtn:active{
    background-color: lightskyblue;
    border:2px solid lightskyblue;
} */
.Navbar{
    background-color:rgb(244, 10, 10);
    padding: 15px;
    box-shadow: 0 0 10px grey;
    display: flex;
    justify-content: space-around;
}
.hi{
    
}